<app-top-nav></app-top-nav>

<div class [hidden]="l.authenticated">
    
    <div class="container">
        <div class="center">
            <p>(Working title, full CSS to be implemented)</p>
            <login #l />
        </div>
    </div>
</div>
<div *ngIf="l.authenticated">
    <div class="container">
        <div class="center">
            <p>(Working title, full CSS to be implemented)</p>
            <button (click)="l.logout()">Log out</button>
        </div>
    </div>
    <user-profile/>
    <stat-form/>
</div>