<!-- Navigation --->
<app-top-nav></app-top-nav>
<p align="center">(Working title, full CSS to be implemented)</p>

<!-- Log-in / Registration Component --->
<div>
    <div class="container">
        <div class="center">
            <login #l />
        </div>
    </div>
</div>

<!-- Log-out Button --->
<div *ngIf="l.authenticated">
    <div class="container">
        <div class="center">
            <button (click)="l.logout()">Log out</button>
        </div>
    </div>
    <router-outlet/>
</div>