.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content:space-evenly;
}


.nameBox {
    width: 178px;
    height: 270px;
    outline: auto;
    padding: 10px;
    padding-top: 0;
    white-space: pre-line;
}
    .nameBox label {
        display: inline-block;
        padding-top: 10px;
    }

.identityBox {
    width: 220px;
    height: 270px;
    outline: auto;
    padding: 10px;
    padding-top: 0;
    white-space: pre-line;
}
    .identityBox label {
        display: inline-block;
        padding-top: 10px;
    }

    .identityBox select {
        min-width: 150px;
    }

.freeBox {
    outline: auto;
    padding: 10px;
    padding-top: 0;
}

.rollBox {
    outline: auto;
    padding: 10px;
    padding-top: 0;
}
    .rollBox label {
        display: inline-block;
        min-width: 90px;
    }

.rollDrop {
    min-width: 95px;
}

.calculate {
    padding: 10px;
}

.statBox {
    outline: auto;
    padding: 10px;
    padding-top: 0;
}
    .statBox label {
        display: inline-block;
        min-width: 100px;
    }

    .statBox input {
        width: 35px;
        margin-right: 10px;
    }