<p>
    <label>Select a class</label><br/>
    <select id="classSelect" #c (change)="showClassBoosts(c.value)">
        <option>---</option>
        <option *ngFor="let class of classes">
            {{class.name}}
        </option>
    </select><br/>
    <label [textContent]="classBoosts"></label>
</p>

<p>
    <label>Select an ancestry</label><br/>
    <select id="ancestrySelect" #a (change)="showAncestryBoosts(a.value)">
        <option>---</option>
        <option *ngFor="let ancestry of ancestries">
            {{ancestry.name}}
        </option>
    </select><br/>
    <label [textContent]="ancestryBoosts"></label>
</p>

<div>
    <h3>Stats</h3>
    <label>Strength</label>
    <input type="number" id="str" name="str" value="{{str}}" min="8" max="18">
    <label>Intelligence</label>
    <input type="number" id="str" name="str" value="{{int}}" min="8" max="18"><br/>
    <label>Dexterity</label>
    <input type="number" id="str" name="str" value="{{dex}}" min="8" max="18">
    <label>Wisdom</label>
    <input type="number" id="str" name="str" value="{{wis}}" min="8" max="18"><br/>
    <label>Constitution</label>
    <input type="number" id="str" name="str" value="{{con}}" min="8" max="18">
    <label>Charisma</label>
    <input type="number" id="str" name="str" value="{{cha}}" min="8" max="18"><br/>
</div>