<div [formGroup]="statForm">
    <p>
        <label>Select a class</label><br/>
        <select id="classSelect" #c (change)="showClassBoosts(c.value)">
            <option>---</option>
            <option *ngFor="let class of classes">
                {{class.name}}
            </option>
        </select><br/>
        <label [textContent]="classBoosts"></label>
    </p>

    <p>
        <label>Select an ancestry</label><br/>
        <select id="ancestrySelect" #a (change)="showAncestryBoosts(a.value)">
            <option>---</option>
            <option *ngFor="let ancestry of ancestries">
                {{ancestry.name}}
            </option>
        </select><br/>
        <label [textContent]="ancestryBoosts"></label>
    </p>

    <p>
        <input type="checkbox" formControlName="chooseBoosts" (change)="boostBlock.reset(); checkCount = 0">
        <label>Free choice</label>
    </p>

    <button name="Calculate" (click)="calculate()" [disabled]="!classSelected || !ancestrySelected">Calculate</button>

    <div formGroupName="statBlock">
        <h3>Stats</h3>
        <label>Health Points</label>
        <input type="number" id="hp"  name="hp"  formControlName="hp"  min="1"><br/>
        <label>Strength</label>
        <input type="number" id="str" name="str" formControlName="str" min="8" max="18">
        <label>Intelligence</label>
        <input type="number" id="int" name="int" formControlName="int" min="8" max="18"><br/>
        <label>Dexterity</label>
        <input type="number" id="dex" name="dex" formControlName="dex" min="8" max="18">
        <label>Wisdom</label>
        <input type="number" id="wis" name="wis" formControlName="wis" min="8" max="18"><br/>
        <label>Constitution</label>
        <input type="number" id="con" name="con" formControlName="con" min="8" max="18">
        <label>Charisma</label>
        <input type="number" id="cha" name="cha" formControlName="cha" min="8" max="18"><br/>
    </div>

    <div formGroupName="boostBlock">
        <h3>Free Stats</h3>
        <p>(Choose {{chooseBoosts ? 2 : 1}})</p>
        <input type="checkbox" [attr.disabled]="freeCheck('strBoosted')" 
            formControlName="strBoosted" (change)="freeCount($event)">
            <label>Strength</label><br/>
        <input type="checkbox" [attr.disabled]="freeCheck('dexBoosted')"
            formControlName="dexBoosted" (change)="freeCount($event)">
            <label>Dexterity</label><br/>
        <input type="checkbox" [attr.disabled]="freeCheck('conBoosted')" 
            formControlName="conBoosted" (change)="freeCount($event)">
            <label>Constitution</label><br/>
        <input type="checkbox" [attr.disabled]="freeCheck('intBoosted')" 
            formControlName="intBoosted" (change)="freeCount($event)">
            <label>Intelligence</label><br/>
        <input type="checkbox" [attr.disabled]="freeCheck('wisBoosted')" 
            formControlName="wisBoosted" (change)="freeCount($event)">
            <label>Wisdom</label><br/>
        <input type="checkbox" [attr.disabled]="freeCheck('chaBoosted')" 
            formControlName="chaBoosted" (change)="freeCount($event)">
            <label>Charisma</label><br/>
    </div>
</div>